<! DOCTYPE HTML "-//WSC//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        {% block head %}
        <meta http-equiv-"Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="css/demo.css" />
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer"?
             {% block footer %}
             {% endblock %}
        </div>  
    </body> 
</html>